---
import Main from "../layouts/Main.astro";
---

<Main title="Home">
  <h1>Hello! 👋</h1>
  <p>I'm Devarsh!</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum veritatis
    repellat veniam impedit sint aspernatur fugit nemo facilis quasi, adipisci
    ad quisquam, neque voluptas aliquam non nulla, accusamus vitae atque
    reprehenderit aperiam cupiditate ab molestiae ipsam ipsa. Vero ducimus
    recusandae odio explicabo mollitia aperiam, placeat veritatis, possimus,
    doloribus sint pariatur labore quis numquam repellat molestiae tempore magni
    minus perspiciatis similique a laudantium vel optio? Dignissimos quam
    facilis voluptatibus temporibus necessitatibus cum numquam voluptas
    adipisci? Autem voluptatem asperiores neque officia a laudantium debitis,
    quasi laborum sunt mollitia, ullam inventore eum rem quae sit tenetur aut,
    nam nulla quidem at? Sequi, quasi!
  </p>
</Main>
