---
import Main from "../layouts/Main.astro";
---

<Main title="Home">
  <h1>Hello! 👋</h1>
  <p>I'm Devarsh!</p>
  <p>
    I enjoy programming and computers. That is why I have made this website,
    built with <a href="https://astro.build">Astro</a>, to share stuff that you
    may find interesting!
  </p>
  <p>
    Feel free to take a look around my website! In the footer are ways to talk
    to me.
  </p>
  <p>As I just revamped my website, more things will be added in the future!</p>
</Main>
